body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: #262E5D;  
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.intro__img{
    margin:0,  20px;
}
.intro {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color:white;
    color:#262E5D;
}
.intro__inner {
    width: 100%;
    max-width:880px ;
    text-align: left;
}
.intro__title {
    font-size: 96px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    color: #262E5D;
}

.intro__suptitle {
    font-size: 24px;
    padding-top:16px ;
    color: #76768F;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}
img{
    display: flex;
    justify-content: flex-end;
}

.header {
    width: 100%;
    padding-top: 30px;
}    
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo { 
    display: flex;
    font-size: 24px;
    font-weight: 700;
    color: #262E5D;
}
.header__item1{
    display: flex;
    justify-content: flex-end;
}

.nav {
    font-size: 16px;
    width: 100%;
    text-transform: uppercase;
}
.nav__link {
    
    color:  #76768F;
    text-decoration: none;
    transition: color 0.2s linear;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    margin: 0 15px;
    font-weight:300;
}
.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: #262E5D;
    opacity: 0; 
    top: 100%;
    transition: opacity 0.1s linear;
}

.nav__link:hover {
    color: #262E5D;
}
.nav__link:hover:after,
.nav__link.active::after{
    opacity: 1;
}
.nav__link.active {
    color:  #262E5D;
}
 
.footer__inner{
    display: flex;
    margin: o 5px;

}
@media screen and (max-width: 980px) {
    .container{
        margin: 0 auto;
    }
} 
 







